<!DOCTYPE html>
<html>
  <head>
    <title>Lab04</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ma super application Express</h1>
    <p>Les membres de l'équipe sont : Frédérick Perazzelli-Delorme et mon vautour Hannibal</p>
  </body>
</html>
